body {
    font-family: 'Cookie', cursive;
}
.btn-primary {
    width: 70%;
    height: 50px;
    font-size: 30px;
}
.btn-success{
    font-size: large;
} 
.btn-success:hover {
    background-color: rgb(228, 157, 222);
    color: black;
}
canvas {
    border: 2px solid white;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-top: 50px;
}
@keyframes example {
    0% {
        box-shadow: 1px 1px 40px rgb(255, 19, 98);
        
    }
    50% {
        box-shadow: 1px 1px 40px rgb(0, 255, 76);
    }
    100% {
        box-shadow: 1px 1px 40px rgb(0, 255, 255);
    }
}